$highlight-col: #d509e3;
$pink-accent: #f89cff;


#mycarousel.carousel.slide {
    width: 100%;
    max-width: 400px !important;
}

#goodbye {
  padding-top:30px;
  font-style: italic;

}

a {color: $highlight-col;
  font-weight: bold;
}

a:hover {
  @extend a;
    text-decoration: underline;

}

.website {display:block;}
.paper {display:none;}


nav , .bottom_menu{
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {


    text-decoration: none;
    color: grey;
  }

  a:hover {
    color: $highlight-col !important;
  }
}

.bottom_menu a::before{
  content: "\219D  ";
}


.bottom_menu a:hover{
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;

}

.navbar-brand {
  color: $highlight-col !important;
  font-weight: bolder;
}

@keyframes navani {
  from {
        opacity: 0%;}
  to {    opacity: 100%;}
}

nav {

  animation-name: navani;
  animation-duration: 4s;
}

footer {
  background-color: $pink-accent;
  padding: 25px 0px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .jumbotron {
        background-color: white;
  }
}

@media print {
.website {display:none;}
.paper {display:block;}


}
